RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?ac_cod=$1
Options -Indexes
ErrorDocument 404 /includes/site/404.php
ErrorDocument 403 /includes/site/404.php
